<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<html lang="pt-br">

<head>
    {% block head_block %}
    <meta charset="UTF-8">
    <title>Index</title>
    {% endblock %}
</head>

<body>
    {% block body_block %}
    <h1>Hello, this is index.html</h1>
        <container>
            <p>
                Este index contem algumas informações utilizadas para teste da integração do HTML com DJANGO.
            </p>
            <img src="{% static "first_app/imgs/html.png" %}" alt="não mostrou">
        </container>
    {% endblock %}
</body>
</html>