<!DOCTYPE html>

{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <title>HTML & CSS</title>
    <link rel="stylesheet" href="style.css">
</head>
<header>
    <h1>
        HTML & CSS
    </h1>
    <h2>
        Lugares historicos de Londrina
    </h2>
</header>

<body>
    <nav>
        <ul>
            <a href="/https://www.iat.pr.gov.br/Pagina/Parque-Estadual-Mata-dos-Godoy-PEMG/">Parque Estadual Mata dos Godoy</a> |
            <a href="/style.css/">CSS</a> |
            <a href="/script.js/">JavaScript</a> |
        </ul>
    </nav>
    <div class="Mata dos Godoy">
        <h1 style="font-size: medium;">
            Parque Estadual Mata dos Godoy
        </h1>
        <img src="{% static "first_app/imgs/Mata dos godoy.jpg" %}" alt="Mata">
        
    </div>

</body>
<footer>
    Desenvolved by: Giovane Bego
</footer>

</html>